*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: azure;
    padding: 20px;
}

h1,h2{
    color: brown;
    margin-bottom: 20px;
}

form{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(rgb(95, 18, 18));
    margin-bottom: 40px;
    max-width: 500px;
}

input, textarea{
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 1px solid rgb(rgb(240, 230, 230),);
    border-radius: 8px;
    font-size: 16px;
}    
button{ 
    cursor: pointer;
    transition: background 0.3s ease;
    margin-right: 16px;
    background-color: brown;
    color: aliceblue;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    font-size: 16px;

}

button:hover{
    background-color: rgb(110, 11, 28);
}

hr{
    margin: 40px 0;
    border: none;
    border-top: 1px solid #ccc;
}

#videos-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
}

.video-item{
    background-color: #ffff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 20px;
    transition: transform 0.2s ease;
}

.video-item:hover{
    transform: scale(1.02);
}

.video-item h3{
    color: blue;
    margin-bottom: 10px;
}

.video-item p{
    margin-bottom: 8px;
    color: #555;
}

